body {
  font-family: 'Poppins', sans-serif;
  background-color: #1c1c3c;
  color: #ffffff;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

header {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #2d2d4f;
}

.symbol img {
  height: 40px; /* Adjust height to fit nicely before the logo */
  margin-right: 10px; /* Space between symbol and logo */
  background-color: #2d2d4f;
  color: #2d2d4f;
}

.logo h1 {
  margin: 0;
  font-size: 32px; /* Larger font size for emphasis */
  background: linear-gradient(to right, #42a5f5, #1e88e5, #0d47a1);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.slogan p {
  margin: 0;
  font-size: 18px; /* Adjust font size for better readability */
  font-weight: 400;
  color: #ffffff;
}

.separator {
  width: 1px;
  height: 50px;
  background-color: rgba(
    255,
    255,
    255,
    0.2
  ); /* Vertical line separator color */
  margin: 0 20px; /* Space between the logo and the slogan */
}

section {
  padding: 20px;
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  padding-top: 0px;
}

h3 {
  font-size: 24px;
  margin-bottom: 10px;
  padding-top: 20px;
}

h4 {
  margin-top: 20px;
  margin-bottom: -10px;
}

p {
  margin: 10px 0;
}

canvas {
  font-family: 'Poppins', sans-serif;
  margin-top: 20px;
  background-color: #fff;
  border-radius: 8px;
  width: 100%;
  max-width: 800px;
  height: 500px;
}

.chart-and-checkbox-container {
  display: flex;
  align-items: flex-start; 
  gap: 20px; 
}

#jobMarketTrendChartContainer {
  flex: 3; 
}

#jobCheckboxesContainer {
  flex: 1; 
  display: flex;
  flex-direction: column; 
  margin-top: 20px;
}

#jobMarketTrendChart {
  background-color: #1c1c3c; 
  border-radius: 8px; 
  max-width: 100%; 
}

#skillDemandChart {
  background-color: #1c1c3c; 
  border-radius: 8px; 
}

/* Growth Rate Section */
.table-container {
  margin: 20px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

table {
  width: 80%;
  border-collapse: collapse;
  text-align: left;
}

thead {
  background-color: #0f3460;
}

th, td {
  padding: 8px;
  /* border-bottom: 1px solid #ddd; */
}

th {
  cursor: pointer;
  background-color: #36366d;
  color: white;
  /* text-transform: uppercase; */
  position: relative;
}

th:hover {
  background-color: #242452;
}

tbody tr:nth-child(odd) {
  background-color: #2d2d4f25;
}

tbody tr:nth-child(even) {
  background-color: #2d2d4f7c;
}

td {
  color: #fff;
}

th:after {
  content: ''; /* Default, no arrow */
  position: absolute;
  right: 10px;
  font-size: 0.8em;
  transition: transform 0.3s ease;
}

/* Show the up arrow when sorted ascending */
th.asc:after {
  content: '\25B2'; /* Upward triangle */
}

/* Show the down arrow when sorted descending */
th.desc:after {
  content: '\25BC'; /* Downward triangle */
}

/* Green triangle for positive values */
.positive::before {
  content: '\25B2'; /* Upward triangle */
  color: green;
  margin-right: 5px;
}

/* Red triangle for negative values */
.negative::before {
  content: '\25BC'; /* Downward triangle */
  color: red;
  margin-right: 5px;
}

/* Skills Section */

.hidden {
  display: none;
}

.job-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
  justify-content: flex-start;
}

.job-buttons button {
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  background-color: #424274;
  border: none;
  color: white;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s;
  font-size: 14px;
  flex: 1 1 calc(25% - 10px);
  text-align: center;
}

.job-buttons button:hover {
  background-color: #5962a6;
}

.data-description,
.how-to-read {
  margin-top: 20px;
}

/* Courses Section */
#courses-section {
  margin-top: 40px;
}

#courses-section h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.course {
  background-color: #424274;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.course:hover {
  transform: scale(1.015);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.course a {
  text-decoration: none;
  color: #ffffff;
  display: flex;
  align-items: center;
  width: 100%; 
}

.course-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%; 
}

.course-info {
  flex: 1; 
  padding-right: 20px; 
}

.course-info h4 {
  font-size: 18px;
  margin: 0 0 10px 0;
  text-decoration: underline;
}

.course-info p {
  margin: 0 0 10px 0;
  font-size: 14px;
  color: #c3c3dd;
}

.course-button {
  background-color: #6c6ca6;
  border: none;
  color: #ffffff;
  padding: 8px 15px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  text-transform: uppercase;
}

.course-button:hover {
  background-color: #56568b;
}

.course-image {
  flex-shrink: 0; /* Prevents the image from shrinking */
}

.course-image img {
  width: 200px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  border: 2px solid #6c6ca6; 
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.course-image img:hover {
  transform: scale(1.05); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

/* Data Descriptions and Additional Text */
.data-description,
.how-to-read {
  margin-top: 20px;
}

.data-description ul,
.how-to-read ul {
  list-style-type: none;
  padding: 0;
}

.data-description li,
.how-to-read li {
  margin-bottom: 5px;
  font-size: 14px;
  color: #c3c3dd;
}